#core-alert-toaster {
	position: fixed;
	top: 50px;
	right: 0;
	z-index: 11000;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}

#core-alert-toaster .toaster-item {
	margin-bottom: 10px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 10px;
}

#core-alert-toaster .toaster-item-icon {
	width: 40px;
	height: 40px;
}

#core-alert-toaster .toaster-item-content {
	flex: 1;
	padding: 0 0 5px 0;
}

#core-alert-toaster .toaster-items-enter-active,
#core-alert-toaster .toaster-items-leave-active {
	transition: all .5s ease;
}

#core-alert-toaster .toaster-items-enter,
#core-alert-toaster .toaster-items-leave-to {
	opacity: 0;
	transform: translateX(100%);
}