.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 400px;
	margin: 0 auto;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.modal-header {
	padding: 10px 20px;
}

.modal-header h3 {
	margin: 0;
	text-align: left;
}

.modal-header button {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
}

.modal-body {
	padding: 20px;
}

.modal-body:last-child {
	margin-bottom: 0;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}
