<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />

		<!-- HTML Meta Tags -->
		<title>Ondegriffe</title>
		<meta name="description" content="Jeu de plateau en ligne multijoueur.">
		<link rel="icon" type="image/svg" href="images/elements/favicon.svg" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="%%WEBSITE_ROOT%%/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Ondegriffe">
		<meta property="og:description" content="Jeu de cartes en ligne multijoueur.">
		<meta property="og:image" content="%%WEBSITE_ROOT%%/images/elements/thumbnail.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary">
		<meta property="twitter:url" content="%%WEBSITE_ROOT%%/">
		<meta name="twitter:title" content="Ondegriffe">
		<meta name="twitter:description" content="Jeu de plateau en ligne multijoueur.">
		<meta name="twitter:image" content="%%WEBSITE_ROOT%%/images/elements/thumbnail.png">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="lib/knacss-7.1.3/knacss.css" type="text/css" media="all" />
		<link rel="stylesheet" href="components/all.css" type="text/css" media="all" />
		<link rel="stylesheet" href="views/all.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
	</head>
	<body>
		<div id="app" :class="{ initialized: initialized }">
			<header id="header">
				<img src="images/elements/logo.svg" alt="" class="logo" />
				<h1>Ondegriffe</h1>

				<core-header-server-info v-if="Connection.isServer()"></core-header-server-info>

				<div id="menu">
					<router-link to="/play" class="header-item header-item-clickable">{{ 'c.main.play' | trans }}</router-link>
					<router-link to="/extensions" class="header-item header-item-clickable">{{ 'c.main.extensions' | trans }}</router-link>
					<router-link to="/about" class="header-item header-item-clickable">{{ 'c.main.about' | trans }}</router-link>
				</div>

				<tc-header-preferences></tc-header-preferences>
				<tc-current-time></tc-current-time>
			</header>
			<div id="content">
				<router-view></router-view>
			</div>
			<tc-models-infos-modals></tc-models-infos-modals>
			<core-alert-toaster></core-alert-toaster>
		</div>
		<script type="text/javascript" src="lib/vuejs-2.6.11/vue.js"></script>
		<script type="text/javascript" src="lib/vue-router-3.3.2/vue-router.js"></script>
		<script type="text/javascript" src="lib/vue-tooltip-2.0.3/vue-tooltip.min.js"></script>
		<script type="text/javascript" src="lib/peerjs-1.3.1/peerjs.min.js"></script>
		<script type="module" src="views/main.mjs"></script>
	</body>
</html>