#view-extensions {
	overflow-y: auto;
	max-height: 100%;
}

#view-extensions .extension-symbol-container {
	width: 50px;
	height: 50px;
	float: left;
	margin: 15px 15px 15px 0;
	text-align: center;
	line-height: 50px;
}

#view-extensions .extension-symbol {
	max-width: 40px;
	max-height: 40px;
	vertical-align: middle;
}

#view-extensions .little-items {
	padding-left: 0;
	list-style: none;
}

#view-extensions .cards .items {
	margin: 0 -10px;
}

#view-extensions .cards .tc-card-thumbnail {
	display: inline-block;
	width: 234px;
	padding: 10px;
}

#view-extensions .tiles .items {
	margin: 0 -10px;
}

#view-extensions .tiles .og-score-tile-thumbnail {
	display: inline-block;
	width: 140px;
	padding: 10px;
}