#view-setup {
	height: 100%;
	max-height: 100%;
}

#view-setup .view-content {
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

#view-setup .view-content .view-body {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#view-setup .view-content .view-body > div {
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

#view-setup .view-content .view-body > div:nth-child(1) {
	min-width: 450px;
	max-width: 450px;
}

#view-setup .view-content .view-body > div:nth-child(2) {
	flex: 1;
}