/* region: Timeline modal. */
.tc-timeline-modal .modal-container {
	width: 700px;
	padding: 0;
}

.tc-timeline-modal .modal-body {
	max-height: 700px;
	overflow-y: auto;
}

.tc-timeline-modal .modal-body ul {
	padding: 0 0 0 16px;
	margin: 0;
}

/* endregion */

/* region: Players & ranking. */
.tc-players ul,
.tc-ranking ul {
	padding-left: 0;
	list-style-type: none;
}

.tc-players li,
.tc-ranking li {
	margin-bottom: 10px;
}

.tc-players .bullet,
.tc-ranking .bullet {
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 15px;
}

.tc-players li.current {
	border-right: 5px solid goldenrod;
}

.tc-players li.self .name,
.tc-ranking li.self .name {
	font-weight: bold;
}

.tc-ranking li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.tc-ranking .rank {
	width: 30px;
	height: 30px;
	display: flex;
	position: relative;
}

.tc-ranking .item-content,
.tc-ranking .rank-content {
	margin: auto;
	text-align: center;
}

/* endregion */

/* region: Statistics. */
/* endregion */

/* region: Timeline. */
/* endregion */

/* region: Own board. */

.tc-own-board .draft-direction {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	position: absolute;
	margin-top: -15px;
}

.tc-own-board .draft-direction > div {
	width: 50%;
}

/* endregion */

/* region: Other boards. */
.tc-other-boards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tc-other-boards .other-board {
	width: 50%;
	min-width: 50%;
}

/* endregion */

/* region: Board. */
.board {
	text-align: center;
}

.tc-board {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	--effective-tile-size: calc(var(--zoom) * var(--tile-size));
}

.tc-board .tc-board-content {
	white-space: nowrap;
}

/** Zoom x1 */
.tc-board.zoom-x1 {
	--zoom: 1;
}

.tc-board.zoom-x1 .preview-button,
.tc-board.zoom-x1 .suggestion-icon {
	width: 16px;
	height: 16px;
	font-size: 10px;
}

/** Zoom x2 */
.tc-board.zoom-x2 {
	--zoom: 2;
}

.tc-board.zoom-x2 .preview-button,
.tc-board.zoom-x2 .suggestion-icon {
	width: 20px;
	height: 20px;
}

/** Zoom x4 */
.tc-board.zoom-x4 {
	--zoom: 4;
}

.tc-board.zoom-x4 .preview-button,
.tc-board.zoom-x4 .suggestion-icon {
	width: 30px;
	height: 30px;
	padding: 3px;
}

/* endregion */

/** region tc-draft-phase */
.tc-draft-phase h2 .icon-ok {
	height: 25px;
}

/* endregion */

/** region: tc-hand */
.tc-hand {
	overflow-x: hidden;
}

.tc-hand .tc-hand-content {
	margin: 10px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.tc-hand .hand-item-container {
	margin: 25px 5px 5px 5px;
}

.tc-hand .hand-item-container.selected {
	margin-top: 5px;
}

.tc-hand .card-hand .hand-item-container:hover,
.tc-hand .card-hand:not(:hover) .hand-item-container:last-child {
	z-index: 10;
	min-width: 204px;
}

.tc-hand .hand-card {
	min-width: 214px;
}

.tc-hand .tile-hand .hand-item-container:hover,
.tc-hand .tile-hand:not(:hover) .hand-item-container:last-child {
	z-index: 10;
	min-width: 130px;
}

.tc-hand .hand-tile {
	width: 140px;
}

.tc-hand .hand-tile .container {
	margin: auto;
}

.tc-hand .hand-card .toolbar,
.tc-hand .hand-tile .toolbar {
	margin-top: 5px;
	visibility: hidden;
}

.tc-hand .hand-card:hover .toolbar,
.tc-hand .hand-tile:hover .toolbar {
	visibility: visible;
}

/* endregion */

/** region: tc-player-board */
.tc-player-board .tc-player .bullet {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 15px;
}

.tc-player-board .tc-player .icon-points,
.tc-player-board .tc-player .icon-waiting {
	width: 26px;
	height: 26px;
}

.tc-player-board .panel-body > * + * {
	margin-top: 10px;
}

.tc-player-board .tc-player-board-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: -15px;
	padding: 15px;
	overflow-x: hidden;
}

.tc-player-board .board-card-container {
	margin: 5px 5px 5px 5px;
}

.tc-player-board .board-card-container:hover {
	z-index: 10;
}

.tc-player-board .board-card {
	min-width: 214px;
}

.tc-player-board .board-card-container:hover {
	min-width: 204px;
}

.board-cards-display-none .tc-player-board .tc-player-board-cards {
	display: none;
}

.board-cards-display-half .tc-player-board .board-card .card {
	height: 150px;
}

.tc-player-board .tc-player-board-stats {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px 30px;
}

.tc-player-board .board-category-type-container {
	display: inline-block;
	max-width: 100%;
	white-space: normal;
}

.tc-player-board .board-category-type-container .category + span {
	margin: 0 7px 0 -4px;
}

.tc-player-board .board-category-type-container .category.not-possessed {
	opacity: 0.3;
	filter: saturate(0.5%);
}

.tc-player-board .board-category-type-container .category .category-majority-statuses {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	height: 10px;
	margin-top: -6px;
}

.tc-player-board .board-category-type-container .category .category-majority-statuses > span {
	flex: 1;
}

.tc-player-board .board-category-type-container .category .category-majority-statuses > span:first-child {
	clip-path: polygon(0% 25%, 0% 100%, 60% 100%);
}

.tc-player-board .board-category-type-container .category .category-majority-statuses > span:last-child {
	clip-path: polygon(100% 25%, 100% 100%, 40% 100%);
}

.tc-player-board .board-category-type-container .category.possessed .category-has-more {
	background: #fd8;
}

.tc-player-board .board-category-type-container .category.possessed .category-has-same {
	background: #555;
}

/* Crazy trick to be able to line up between elements despite the magic of VueJS that removes spaces. */
.tc-player-board .board-category-type-container > span:not(:last-child):after {
	content: ' ';
	max-width: 1px;
	overflow: hidden;
	display: inline-block;
}

.tc-player-board .tc-player-board-tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.tc-player-board .board-tile-container {
	margin: 5px 5px 5px 5px;
}

.tc-player-board .board-tile-container:hover {
	z-index: 10;
}

.tc-player-board .board-tiles {
	min-width: 66px;
}

.tc-player-board .board-tile-container:hover {
	min-width: 56px;
}

/* endregion */

/** region: tc-game-phases */

.tc-game-phases .phase {
	padding: 5px 10px;
	background: rgba(150, 150, 256, 0.2);
	margin-bottom: 10px;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tc-game-phases .phase .phase-number {
	padding-right: 5px;
}

.tc-game-phases .phase .phase-number .badge {
	min-width: 30px;
	font-size: 16px;
	line-height: 16px;
	float: left;
}

.tc-game-phases .phase .phase-description {
	flex: 1;
}

.tc-game-phases .aside-content {
	padding: 0;
}

.tc-game-phases .phase-past {
	filter: saturate(0%);
	opacity: 0.3;
}

.tc-game-phases .phase-current {
	border-right: 5px solid goldenrod;
}

.tc-game-phases .phase-current .phase-number .badge {
	background: goldenrod;
}

.tc-game-phases .phase-future {
	filter: saturate(75%);
	opacity: 0.7;
}

#view-play-footer .tc-game-phases .aside-content {
	display: flex;
	align-items: stretch;
	overflow-x: auto;
	padding-bottom: 11px;
}

#view-play-footer .tc-game-phases .phase {
	display: inline-flex;
	width: 300px;
	margin: 5px;
	min-width: 300px;
}

/* endregion */

/** region: tc-game-phase-score */

.tc-game-phase-score {
	margin: 0 -5px 0 -5px;
}

.tc-game-phase-score .tiles > * {
	display: inline-block;
	margin: 5px;
}

/* endregion */
