/* region: og-category-thumbnail */
.og-category-thumbnail-tooltip {
	text-align: center;
}

/* endregion */

/* region: tc-card-thumbnail */
.tc-card-thumbnail .card {
	height: 300px;
	width: 214px;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.tc-card-thumbnail .actions {
	flex: 1;
	text-align: right;
	width: 100%;
	padding: 5px 7px;
	opacity: 0;
}

.tc-card-thumbnail:hover .actions {
	opacity: 1;
}

.tc-card-thumbnail .meta-data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	font-size: 11px;
	width: 100%;
}

.tc-card-thumbnail .meta-data .card-code {
	font-size: 10px;
}

/* endregion */

/* region: tc-card-description */
.tc-card-description {
	--description-with: 500px;
	--visual-with: 500px;
	--visual-margin: 25px;
}

.tc-card-description .data-container {
	width: var(--description-with);
}

.tc-card-description .visual-container {
	height: var(--visual-with);
	width: var(--visual-with);
	margin-right: var(--visual-margin);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tc-card-description .visual-container img {
	max-height: var(--visual-with);
	max-width: var(--visual-with);
}

/* endregion */

/* region: og-score-tile-thumbnail */
.og-score-tile-thumbnail .container,
.og-score-tile-thumbnail .content {
	height: 120px;
	width: 120px;
}

.og-score-tile-thumbnail .content {
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.og-score-tile-thumbnail .actions {
	flex: 1;
	text-align: right;
	width: 100%;
	padding: 5px 7px;
	opacity: 0;
}

.og-score-tile-thumbnail:hover .actions {
	opacity: 1;
}

.og-score-tile-thumbnail .meta-data {
	text-align: center;
	font-size: 10px;
	width: 100%;
}

.tiles-small .og-score-tile-thumbnail .container,
.tiles-small .og-score-tile-thumbnail .content {
	height: 66px;
	width: 62px;
}

.tiles-small .og-score-tile-thumbnail .meta-data {
	padding-top: 0;
	line-height: 11px;
}

.og-score-tile-thumbnail-tooltip {
	text-align: center;
}

.og-score-tile-thumbnail-tooltip .item-visual img {
	max-height: 120px;
}

/* endregion */


/* region: tc-score-tile-description */
.tc-score-tile-description {
	--description-with: 500px;
	--visual-with: 300px;
	--visual-margin: 25px;
}

.tc-score-tile-description .data-container {
	width: var(--description-with);
}

.tc-score-tile-description .visual-container {
	height: var(--visual-with);
	width: var(--visual-with);
	margin-right: var(--visual-margin);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tc-score-tile-description .visual-container img {
	max-height: var(--visual-with);
	max-width: var(--visual-with);
}

/* endregion */