/* region: Players. */
.tc-players-setup table {
	margin-bottom: 10px;
}

.tc-players-setup td {
	padding: 3px;
}

.tc-players-setup input,
.tc-players-setup select {
	width: 100%;
}

/* endregion */

/* region: Cards list. */
.setup-list .extension {
	margin-top: 10px;
}

.setup-list .extension-symbol {
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
}

.setup-list .cards,
.setup-list .score-tiles,
.setup-list .categories {
	margin: 0 -5px 0 -5px;
}

.setup-list .cards .item,
.setup-list .score-tiles .item,
.setup-list .categories .item {
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

.setup-list .categories .item {
	width: 110px;
}

.setup-list .cards .item:not(.selected),
.setup-list .score-tiles .item:not(.selected),
.setup-list .categories .item:not(.selected) {
	filter: saturate(25%);
	opacity: 0.7;
}

.setup-list .cards .item label,
.setup-list .score-tiles .item label,
.setup-list .categories .item {
	font-size: 13px
}

.setup-list .cards .item input,
.setup-list .score-tiles .item input {
	margin: 0;
}

.setup-list .categories .item {
	text-align: center;
}

.setup-list .categories .item .category {
	height: 65px;
	width: 100px;
	padding: 0 0 15px 0;
	display: flex;
}

.setup-list .categories .item .category img {
	max-height: 50px;
	max-width: 50px;
	margin: auto;
}

.setup-list .categories .item-code {
	display: block;
}

.setup-list .item-selector {
	margin: 3px 0 2px 0;
}

.setup-list .item-configurator {
	margin-top: 5px;
}

.setup-list .item-configurator .selected-quantity {
	float: right;
}

/* endregion */