/**
 *Icons.
 */
.icon-sm {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	padding: 2px;
}

.btn.btn-icon-sm {
	padding: 3px 4px;
	line-height: 0.6;
}

.icon {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 2px;
}

.btn.btn-icon {
	padding: 3px 4px;
	line-height: 0.6;
}

.icon-lg {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding: 3px;
}

.icon-points,
.icon-waiting {
	display: inline-block;
	margin-bottom: -3px;
	vertical-align: baseline;
	width: 17px;
	height: 17px;
}

/**
 * Visibility.
 */
.hidden {
	display: none;
}

/**
 * Rotations.
 */
.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.rotate-270 {
	transform: rotate(270deg);
}

.flip-horizontal {
	transform: scale(-1, 1);
}

.flip-vertical {
	transform: scale(1, -1);
}

.flip-both, .flip-horizontal.flip-vertical {
	transform: scale(-1, -1);
}

/**
 * Positioning.
 */
.pull-right {
	float: right;
}

/**
 * Text.
 */
.text-muted {
	opacity: 0.7;
	/*color: #888;*/
}

/**
 * No margin.
 */
.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-right {
	margin-right: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-left {
	margin-left: 0 !important;
}

/**
 * Layout.
 */
.flex-horizontal {
	display: flex;
	flex-direction: row;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
}

/**
 * Inputs.
 */

input[type="number"][size="2"] {
	width: 50px;
}

input[type="number"][size="3"] {
	width: 60px;
}

/**
 * Help items.
 */
kbd {
	min-width: 20px;
	display: inline-block;
	text-align: center;
}

kbd img {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-top: -2px;
	padding: 0;
}

/**
 * Tooltips.
 */
.tooltip {
	display: block !important;
	z-index: 12000;
}

.tooltip .tooltip-inner {
	border-radius: 7px;
	padding: 7px;
}

.tooltip .tooltip-arrow {
	width: 0;
	height: 0;
	position: absolute;
	border: 5px solid transparent;
	z-index: 1;
}

.tooltip[x-placement^="top"] {
	margin-bottom: 7px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
	border-bottom-width: 0;
	border-top-color: #ddd;
	bottom: -5px;
	left: calc(50% - 7px);
	margin: 0 7px;
}

.tooltip[x-placement^="bottom"] {
	margin-top: 7px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
	border-top-width: 0;
	border-bottom-color: #ddd;
	top: -5px;
	left: calc(50% - 7px);
	margin: 0 7px;
}

.tooltip[x-placement^="right"] {
	margin-left: 7px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
	border-left-width: 0;
	border-right-color: #ddd;
	left: -5px;
	top: calc(50% - 7px);
	margin: 7px 0;
}

.tooltip[x-placement^="left"] {
	margin-right: 7px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
	border-right-width: 0;
	border-left-color: #ddd;
	right: -5px;
	top: calc(50% - 7px);
	margin: 7px 0;
}

.tooltip.popover .popover-inner {
	background: #f9f9f9;
	color: black;
	padding: 24px;
	border-radius: 5px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
}

.tooltip.popover .popover-arrow {
	border-color: #f9f9f9;
}

.tooltip[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
	transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden="false"] {
	visibility: visible;
	opacity: 1;
	transition: opacity .15s;
}